---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if page.url and page.url != '/sitemap.xml' and page.url != '/robots.txt' and page.data.permalink != false and not page.data.noindex %}
  <url>
    <loc>{{ page.data.canonical or (site.url + page.url) }}</loc>
    <lastmod>{{ page.date | dateISO }}</lastmod>
    {%- if page.url == '/' %}
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    {%- elif page.data.isService %}
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
    {%- else %}
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
